<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBScorePlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C6E3B101BCB41630017DF76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6E3B291BCB41640017DF76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6E3B341BCB41640017DF76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
